<form role="form" ng-submit="signIn()">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" name="username" class="form-control" ng-model="username" placeholder="username">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="password" class="form-control" ng-model="password" placeholder="
		password">
	</div>
	<div class="form-group">
		<label for="api">API</label>
		<input type="text" name="api" class="form-control" ng-model="api" placeholder="https://">
	</div>

	<input type="submit" value="Sign in">
</form>